<div class="mainDiv">
    <nav class="navbar main-nav">
      <div>
        Confirm Password
      </div>
    </nav>
<form class="buttonsDiv" [formGroup]="restorePasswordForm" (ngSubmit)="updatePassword()">
  <div class="form-group">
    <input  class="form-control"  type="password" placeholder="new password" name="password" formControlName="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
      <input  class="form-control"  name="confirmPassword" type="password" placeholder="confirm password"
      formControlName="confirmPassword">
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
  </div>
  <button class="btn btn-outline-secondary mr-2" type="submit">Confirm</button>
</form>
</div>