.question-operations {
    display: flex;
    justify-content: space-between;
}

.question {
    display: flex;
    justify-content: space-between;
}

td,tr{
    border: 2px solid gray;
}

.block{
   border: 1px solid gray; 
}

hr { 
    border: none;
    color: #333;
    background-color: #333;
  }