<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{question.Title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label for="questionContent">{{question.QuestionContent}}</label>
    </div>
    <div [ngClass]="{'horizontal': question.Layout.toString() == constsFields.Horizontal}">
      <div *ngFor="let ans of answers; let i=index">
        <label [ngClass]="{'correct-answer': ans.CorrectAnswer === true}" style="margin-right: 10px">{{i+1}} - {{ans.Info}}</label>
        <input *ngIf="question.QuestionType.toString() == constsFields.SingleChoice" type="radio" name="single">
        <input *ngIf="question.QuestionType.toString() == constsFields.MultipleSelection" type="checkbox">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
<button type="button"class="btn btn-outline-secondary mr-2" (click)="open(content)">Show</button>