.menuDiv{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logOut{
    border-radius: 10px;
    border: 1px solid peru;
    cursor: pointer;
    background-color: orange;
}